# NOTE: YOU NEED TO CHANGE ALL OF THE VALUES WITH YOUR OWN DATA, EXECPT THE PORT

PORT=8000
LIGHTSPEED_CLIENT_ID=omijhy08uhytre1818d04a276mnjuhykkk36c14e226cvnhue
LIGHTSPEED_CLIENT_SECRET=ALSKDF48938493898ALSKDJF3984938aeb537b57d2baf16aa4894a24849b34